.ProfilePage {
  font-size: 20px;
  border-radius: 15px;
  height: 92vh;
  width: 85%;
  float: right;
  background-color: whitesmoke;
  margin: auto;
  overflow-y: scroll;
}

.profilecard-container {
  display: flex;
  flex-direction: row;
}

.game-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  margin-left: 30px;
}
.ProfilePage .header {
  text-align: left;
  background-color: black;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 20px;
}
p {
  margin: 0px;
}
h1 {
  margin: 0px;
  font-size: 30px;
}
.profile-header {
  width: 100%;
  background-color: rgb(228, 205, 0);
  color: rgb(31, 31, 31);
}

.profile-button-container {
  margin-top: 20px;
}

.profile-button {
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  width: 100px;
  background-color: rgb(255, 118, 5);
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
