#profile-card {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;

  margin-bottom: 20px;

  font-family: "Noto Serif SC", serif;
}

.profile-card-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
}

.ButtonEdit,
.ButtonDelete {
  width: 140px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  margin: 10px;
}
.ButtonDelete {
  width: 50px;
  background-color: rgb(150, 50, 50);
}

.Buttons {
  margin-top: -10px;
}
#profile-card .ExploreItem,
#profile-card .item-bar-header,
#profile-card .item-bar-header-text {
  background-color: rgb(228, 205, 0);
}
#profile-card .item-bar-header-text {
  color: black;
  font-weight: bold;
}
.photo {
  background-color: black;
}
